#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit{
    width: 50px;
    border: none;
    outline: none;
    background:  transparent;
    color: orange;
    &:hover {
        background-color: transparent !important;
        color: red;
    }
}

.btn-delete{
    width: 50px;
    border: none;
    outline: none;
    background:  transparent;
    color: rgb(64, 236, 12);
    &:hover {
        background-color: transparent !important;
        color: rgb(246, 21, 28);
    }
}
.btn-download {
    width: 50px;
    transform: rotate(90deg);
    outline: none;
    border: none;
    background:transparent;
    color: #04bdf6ef;

&:hover {
        background-color: transparent !important;
        color: rgb(250, 0, 0);
    }
}
.modal-user-container{
  
    .modal-header{
        button {
            background-color: transparent !important;
            border: none;
            color: white;
            font-size: 30px;
        }
    }

    .modal-user-body{
        display: flex;
        gap : 10px;
        flex-wrap: wrap;
        .input-container{
            display: flex;
            flex-direction:  column;
            width: 45%;
            &.max-width-input {
                width: 91%;
            }
            input{
                border-radius: 3px;
                border: 1px solid gray;
                height: 30px;
                outline: none;
                padding: 10px;
            }
        }
    }
}
.btn-view {
    width: 50px;
    outline: none;
    border: none;
    background: transparent;
    color: #fd08b3ef;

    &:hover {
        background-color: transparent !important;
        color: rgb(255, 0, 0);
    }
}


.modal-exam-download-container {
    .modal-header {
        button {
            background-color: transparent !important;
            border: none;
            color: white;
            font-size: 30px;
        }
    }

    .Exam-container {
        
        .Exam-content{
            color: red;
            
        }

        
    }
}
.modal-show-time{
    margin-left: 75% ;
    height: 300px;
    width: 300px;
    z-index: 1100 !important;
    .modal-header {
            button {
                background-color: transparent !important;
                border: none;
                color: white;
                font-size: 30px;
            }
        }
}
.modal-do-exam {
    margin-left: 25%;
    
    .modal-header {
            button {
                background-color: transparent !important;
                border: none;
                color: white;
                font-size: 30px;
            }
        }
    
        .modal-user-body {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
    
            .input-container {
                display: flex;
                flex-direction: column;
                width: 45%;
    
                &.max-width-input {
                    width: 91%;
                }
    
                input {
                    border-radius: 3px;
                    border: 1px solid gray;
                    height: 30px;
                    outline: none;
                    padding: 10px;
                }
            }
        }
}
.Student-Exam-container {
    z-index: 1100;
}
.elm {
    z-index: 1100;}
.show-time-container{
    background-color: red($color: #000000);
    display: flex;
    justify-content: center;
    p { 
        margin-right:10%;
        margin-left: 10%;
        width: 100px;
        height: 30px;
    }
}
